<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ITClubWeb}}
    </title>
    {{!
    <link rel="stylesheet" href="/public/styles/output.css"> }}
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-200 flex items-center justify-center min-h-screen">


    <form id="dev_form" class="shadow-xl bg-white text-black p-8 rounded-lg w-96">
        <h2 class="text-2xl font-bold text-center mb-6">Create Dev Post</h2>
        <input type="hidden" value="6" name="user_id" />

        <div class="mb-5">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
            <input type="text" id="title" placeholder="Enter post title"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>

        <div class="mb-5">
            <label for="repo-link" class="block mb-2 text-sm font-medium text-gray-900">Repo Link</label>
            <input type="url" id="repo-link" placeholder="https://github.com/example/repo"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>

        <div class="mb-5">
            <label for="file-path" class="block mb-2 text-sm font-medium text-gray-900">File Path</label>
            <input type="text" id="file-path" placeholder="/src/components/Form.tsx"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>


        <div class="flex items-center gap-2">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">
                Contributors
            </label>
        </div>
        <div id="contributors_container">
            contributors will appear when you add the correct link
        </div>

        <button type="submit"
            class="w-full bg-black text-white font-bold py-2 px-4 rounded-lg hover:bg-gray-800 transition">
            Submit
        </button>
    </form>


</body>

</html>

<script>
    const user_id = 6;
    const contributor_input = document.getElementById("contributor-input");
    const contributors_container = document.getElementById("contributors_container");
    const dev_form = document.getElementById("dev_form");
    const el_title = document.getElementById("title");
    const el_repo_link = document.getElementById("repo-link");
    const el_file_path = document.getElementById("file-path");

    let contributors = [];

    dev_form.addEventListener('submit', async (e) => {
        e.preventDefault();
        try {
            const title = el_title.value;
            const repo_link = el_repo_link.value;
            const file_path = el_file_path.value;
            const the_contributors = contributors.map(item => item.name);
            
            const form_data = { user_id, title, repo_link, file_path, contributors : the_contributors };
            console.log(form_data)
            const res = await fetch('/api/dev-posts/store', {
                method : 'POST', 
                headers : {
                    Accept : 'application/json',
                    'Content-Type' : 'application/json', 
                },
                body : JSON.stringify(form_data),
            });
            console.log('res', res);
            const data = await res.json();
            console.log('data', data);
        } catch(e) {
            console.log(e);
        }
    });


    el_repo_link.addEventListener('change',async (e) => {
        try {
            console.log('changed');
            const data = await get_github_info(e.target.value);
            contributors = data.contributors.map(item => ({ id : new Date().getTime(), name : item }));
            print_contributors();
        } catch (e) {
            console.log(e)
        }
    } )





    async function get_github_info(url) {
        const res = await fetch('/api/githubrequest/getgithubrepoinfo?repoUrl=' + url);
        console.log(res);
        const data = await res.json();
        console.log(data);
        return data.data;
    }









    function contributor_card(contributor) {
        return `
            <div class="bg-gray-200 rounded-full mb-2 py-2 px-4 flex items-center justify-between w-full">
                <span class="text-gray-800 font-medium">${contributor.name}</span>
            </div>
        `;
    }

    function print_contributors() {
        contributors_container.innerHTML = contributors.map(item => contributor_card(item)).join('');
    }

    function handle_remove_click(id) {
        remove_contributor(id);
        print_contributors();
    }

    function remove_contributor(id) {
        contributors = contributors.filter(contributor => contributor.id !== id);
    }
</script>