<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT club web</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    users
    <div id="users_container" class="">
        <div>
            <img class="animate-spin" src="/icons/spin.svg" />
        </div>
    </div>



</body>
<script>
    window.onload = async () => {
        const users_container = document.getElementById("users_container");
        const users = await fetch_users();
        console.log('users', users);

        users_container.innerHTML = users
            .map(item => {
                return user_card(item);
            }).join("");
    };

    async function fetch_users() {
        const result = await fetch("http://localhost:8000/api/users");
        const data = await result.json();
        const users = data.data;
        return users;
    }

    function user_card(user) {
        return `
            <div class="bg-red-700">
                <div>name : ${user.name}</div>
                <div>email : ${user.email}</div>
            </div>
        `;
    }

</script>

</html>