<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT club web</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    users
    <div id="users_container" class="">
        <div>
            <img class="animate-spin" src="/icons/spin.svg" />
        </div>
    </div>



</body>
<script src="/scripts/users.js" type="module"> </script>

</html>